# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
.idea
.gradle
local.properties

# node.js
#
node_modules/
npm-debug.log

# Fastlane temporary profiling data
ios/fastlane/report.xml
ios/fastlane/Error*.png
ios/fastlane/Preview.html
ios/fastlane/screenshots/*/*-portrait.png
ios/fastlane/screenshots/*/*-landscape.png
ios/fastlane/screenshots/screenshots.html
ios/fastlane/screenshots/*/*-portrait_framed.png
ios/fastlane/screenshots/*/*-landscape_framed.png
# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore
# never check in the release keystore!
android/app/spatialconnect-release.keystore

*.zip
*.cer
*.mobileprovision
com_crashlytics_export_strings.xml
android/app/fabric.properties
android/app/src/main/assets/crashlytics-build.properties

# React Native
ios/main.jsbundle
ios/main.jsbundle.meta
